@import url('https://fonts.googleapis.com/css?family=Roboto:300');
html, body {
  scroll-behavior: smooth;
font-family: Lato,sans-serif;
}
/**************/
#animaterevo{
  stroke-dashoffset:1727.1082763671875;
  stroke-dasharray: 1727.1082763671875;
  stroke: white;
  stroke-width: 2px;
  fill: #B8F9D3;
}

@keyframes animaterevo {
0%{
  stroke-dashoffset:1727.1082763671875;
  stroke-dasharray: 1727.1082763671875;
    fill: #B8F9D3;
}
100%{
  stroke-dashoffset: 0;
    fill: white;
}
}

#path4
{
  stroke-dasharray: 452.18988037109375;
  stroke-dashoffset: 452.18988037109375;
  animation-fill-mode: forwards;
  stroke: rgb(242 240 240);
  stroke-width: 4px;
  fill: none;
  stroke-linejoin: round;
  display: none;

}


#path6{
  stroke-dasharray: 549.3849487304688;
  stroke-dashoffset: 549.3849487304688;
  animation-fill-mode: forwards;
  stroke: rgb(242 240 240);
  fill: none;
  stroke-linejoin: round;
  display: none;
  stroke-width: 4px;


}

#path22{
  stroke-dasharray: 329.2173156738281;
  stroke-dashoffset: 329.2173156738281;
  animation-fill-mode: forwards;
  stroke: rgb(242 240 240);
  fill: none;
  stroke-linejoin: round;
  display: none;
  stroke-width: 4px;


}

#path847{
  stroke-dasharray: 137;
  stroke-dashoffset: 137;
  animation-fill-mode: forwards;
  display: none;
}


@keyframes path22 {
  0%{
    stroke-dasharray: 329.2173156738281;
    stroke-dashoffset: 329.2173156738281;
  }
  100%{

    stroke-dashoffset: 0;
  }

}

@keyframes path6 {
  0%{
    stroke-dasharray: 549.3849487304688;
    stroke-dashoffset: 549.3849487304688;
  }
  100%{

    stroke-dashoffset: 0;
  }

}

@keyframes path4 {
  0%{
    stroke-dasharray: 452.18988037109375;
    stroke-dashoffset: 452.18988037109375;
  }
  100%{

    stroke-dashoffset: 0;
  }

}


@keyframes pathanimation {
0%{
  stroke-dasharray: 137;
  stroke-dashoffset: 137;
}
  100%{
    stroke-dashoffset: 0;
  }

}
.hrbase{
  border-top: 2px solid #eee;
  margin-left: auto;
  margin-right: auto;
}

.imagewrap{
  order: 1;
      width: 45%;
      margin-left: auto;

}
#columntestid{
  display: none;
}
.columntest{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
}
.columnpara1{
  height: auto;
      padding-left: 10px;
      display: block;
      border-left: 5px solid #939393;
      width: 45%;
      margin-top: auto;
      margin-bottom: auto;
      background: rgba( 255, 255, 255, 0.50 );
      box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      border-radius: 10px;
      /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
      margin-right: auto;
      margin-left: unset;
}

  .colunmnarticle{
    margin-top: auto;
    padding: 0px;
    height: auto;
    display: flex;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    width: 100%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .columnimag1{
    display: block;
      margin-left: auto;
      margin-right: auto;
      height: 227px;
      margin-bottom: 50px;
      width: 100%;
      height: 100%;
      background-color: rgba( 255, 255, 255, 0.50 );
      box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );

  }
  .columnhead{
    text-align: center;
    text-align: center;
font-size: 1.75rem;
font-family: Michroma,sans-serif;
line-height: 1em;
  }
  .columnhead2{
    text-align: center;
font-size: 1.75rem;
font-family: Michroma,sans-serif;
line-height: 1em;
  }

  /**************/
  .Maintxt1head{
    font-size: 1.75rem;
    overflow: hidden;
    text-align: left;
    margin: 1rem 0;
    line-height: 1.2em;
    font-family: lato,sans-serif;
    font-weight: 400;
      /*Add line height to 1.5 to make more space but then also edit js scroll positions*/
  }
  .hr1{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#939393,#939393);
    height: 3px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .hr1_1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#939393,#939393);
    height: 3px;
    width: 0%;
    /* background: gray; */
    margin-left: auto;
    margin-right: auto;
  }
  #headBelowNotifier{
    width: 100%;
  }
  #Maintxt1idparent{
    display: none;
  }
  .subslideshowwrapper{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }




  .Maintxt1{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-left: 5px solid #939393;
    /* border-bottom: 5px solid dodgerblue; */
    padding-left: 10px;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
    margin-bottom: 80px;
    margin-top: 80px;
  }
  @keyframes columntestanimate360{
    0%{
      max-height: 0px;
    }
    100%{
      max-height: 1100px;
    }
  }
  @keyframes Maintxt1id360{
    0%{
      max-height: 0px;
    }
    100%{
      max-height: 500px;
    }
  }


    /*   for hover card start*/

    .hovermaincontainer{
      background: #ffffff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      height: 100vh;
      width: 100%;
    }

    .education {
      --bg-color: #ffd861;
      --bg-color-light: #ffeeba;
      --text-color-hover: #4C5656;
      --box-shadow-color: rgba(255, 215, 97, 0.48);
    }

    .credentialing {
      --bg-color: #B8F9D3;
      --bg-color-light: #e2fced;
      --text-color-hover: #4C5656;
      --box-shadow-color: rgba(184, 249, 211, 0.48);
    }

    .wallet {
      --bg-color: #CEB2FC;
      --bg-color-light: #F0E7FF;
      --text-color-hover: #fff;
      --box-shadow-color: rgba(206, 178, 252, 0.48);
    }

    .human-resources {
      --bg-color: #DCE9FF;
      --bg-color-light: #f1f7ff;
      --text-color-hover: #4C5656;
      --box-shadow-color: rgba(220, 233, 255, 0.48);
    }

    .card {
      width: 220px;
      height: 321px;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      box-shadow: -1px 1px 9px 2px rgb(38 123 255 / 14%);
      transition: all 0.3s ease-out;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
    }

    .card:hover {
      transform: translateY(-5px) scale(1.005) translateZ(0);
      box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
    }

    .card:hover .overlay {
      transform: scale(4) translateZ(0);
    }

    .card:hover .circle {
      border-color: var(--bg-color-light);
      background: var(--bg-color);
    }

    .card:hover .circle:after {
      background: var(--bg-color-light);
    }

    .card:hover p {
      color: var(--text-color-hover);
    }

    .card:active{
      transform: scale(1) translateZ(0);
      box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px var(--box-shadow-color);
    }

    .card p {
      color: #4C5656;
      margin-top: 30px;
      z-index: 1;
      transition: color 0.3s ease-out;
    }

    .circle {
      width: 131px;
      height: 131px;
      border-radius: 50%;
      background: #fff;
      border: 2px solid var(--bg-color);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      transition: all 0.3s ease-out;
    }

    .circle:after {
      content: "";
      width: 118px;
      height: 118px;
      display: block;
      position: absolute;
      background: var(--bg-color);
      border-radius: 50%;

      transition: opacity 0.3s ease-out;
    }

    .circle svg {
      z-index: 10000;
      transform: translateZ(0);
    }

    .overlay {
      width: 118px;
      position: absolute;
      height: 118px;
      border-radius: 50%;
      background: var(--bg-color);
      top: 70px;
      left: 50px;
      z-index: 0;
      transition: transform 0.3s ease-out;
    }




    /*   for hover card end*/

    .title2{

      animation: title2animate 5s;
      position: relative;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: center;
      font-size: 7vw;
      /*background: -webkit-linear-gradient(#eee, #333);*/
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(90deg, #000000,#000000,#000000);

    }


    .wiglewrapper{
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(90deg, lime,lime,dodgerblue,dodgerblue);
    }

    .title3{

      animation: title3animate 5s ease;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
      width: max-content;

      font-size: 7vw;
      /*background: -webkit-linear-gradient(#eee, #333);*/
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(90deg, lime,lime,dodgerblue,dodgerblue);
    }
    .hwrap{
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      display: block;
      top: 0px;
      position: relative;

    }
    .titleof{
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: center;
      width: max-content;
      font-size: 7vw;
      /*background: -webkit-linear-gradient(#eee, #333);*/
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(180deg, #000000,#007e00,#00ff00);
      display: block;
      animation: animateof 3s ease;

    }



    #N3 {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(90deg, #04c704,#04c704);
      position: relative;


    }

    #O2 {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(90deg, #04c704,#04c704);
      position: relative;


    }

    #I2 {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(90deg, #04c704,#04c704);
      position: relative;


    }
    #T {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(90deg, #04c704,#04c704);
      position: relative;


    }
    #A {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(90deg, #04c704,#04c704);
      position: relative;


    }
    #V {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(90deg, #04c704,#04c704);
      position: relative;


    }
    #O {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(90deg, #04c704,#04c704);
      position: relative;

    }

    #N2 {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(90deg, #04c704,#04c704);
      position: relative;

    }

    #N {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(90deg, #04c704,#04c704);
      position: relative;

    }


    #I {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(90deg, #04c704,#04c704);
      position: relative;
    }

    @keyframes wiggleWiggle {
      20%, 100% {
        transform: translateY(3px);
        bottom: 10px;
      }
      0% {
        transform: translateY(0px);
        bottom: 0px;
      }
      10% {
        transform: translateY(3px);
        bottom: 10px;
      }
    }

    /* transform: translateY(3px); */
    @-webkit-keyframes wiggleWiggle {
      20%, 100% {
        transform: translateY(3px);
        bottom: 10px;

      }
      0% {
        transform: translateY(0px);
        bottom: 0px;

      }
      10% {
        transform: translateY(3px);
        bottom: 10px;

      }
    }

    @keyframes animateof {
      0% ,40%{
        display: none;
        height: 0px;
      }
      100%{
        display: block;
        height: 116px;

      }
    }
    @keyframes animateof720plus {
      0% ,40%{
        display: none;
        height: 0px;
      }
      100%{
        display: block;
        height: 90px;

      }
    }
    @keyframes animateof360 {
      0% ,40%{
        display: none;
        height: 0px;
      }
      100%{
        display: block;
        height: 55px;

      }
    }


    .mainContainer div {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .mainContainer{
      margin-top: 10px;
min-height: 4700px;
max-width: 1400px;
width: 94%;
margin-left: auto;
margin-right: auto;
    }
    .subcontainer1{
      display: flex;
      height: auto;
      background-color: white;
    }
    .subcontainer2_2{
      display: block;
      background-color: #ffffff;
      height: auto;
    }
    #subcontainer2_2id{
      display: none;
    }
    .subcontainer2{
      display: block;
      height: auto;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      background-color: #ffffff;
    }
    #subcontainer2id{
      display: none;
    }
    .subcontainer3{
      display: flex;
      background-color: white;
      height: 606px;

    }

    .subtext1{
      font-size: 1.75rem;
      width: 45%;
      padding-top: 10px;
      padding-left: 10px;
      height: auto;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: 0;
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;
      text-align: left;
      background: rgba( 255, 255, 255, 0.50 );
      box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      display: none;

    }
    #subtext1id{
      border-left: 5px solid #939393;

    }

    .subtext2{
      font-family: lato,sans-serif;
      font-size: 1em;
      line-height: 1.5;
      display: none;
      width: 45%;
      height: auto;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 0;
      margin-right: auto;
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;
      text-align: left;
      padding: 10px;
      background: rgba( 255, 255, 255, 0.50 );
      box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      float: left;
    }
    #subtext2id{
      border-left: 5px solid #939393;

    }
    .columnimag2{
width: 100%;
height: 100%;
    }
    .subcontainer2Wrapper{
      display: inline-flex;
    }

    .mySlides2 {
      display:none;
      min-width: 450px;
      max-width: 100%;
      min-height: 450px;
      max-height: 450px;
      border-radius: 10px;
      background-repeat: no-repeat;

    }


    .slidecontainer2{
      float: none;
      max-width: unset !important;
      margin-left: auto;
      background: rgba( 255, 255, 255, 0.50 );
      box-shadow: 1px 1px 20px 0 rgb(145 152 255 / 28%);
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );


    }

    .buttonWrapper2{
background: rgba( 255, 255, 255, 0.50 );
box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
backdrop-filter: none;
-webkit-backdrop-filter: none;
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
text-align: center!important;
width: 100%;
height: auto;
padding-top: 5px;
padding-bottom: 5px;
float: none;
position: relative;
margin-left: auto;
margin-top: auto;
margin-bottom: auto;
display: block;
margin-right: auto;
clear: none;
right: unset;
bottom: unset;
color: rgb(30 144 218);
    }
    .w3-button{
      white-space: normal !important;

    }
    #dotwrapper{
background: rgba( 255, 255, 255, 0.50 );
box-shadow: 1px 2px 2px 2px rgb(139 148 255 / 51%);
backdrop-filter: none;
-webkit-backdrop-filter: none;
/* border-radius: 10px; */
border: 1px solid rgba( 255, 255, 255, 0.18 );
float: none;
text-align: center;
background-color: #939393;
padding: 1px;
height: 12px;
border-radius: 5px;
width: 90%;
position: relative;
transform: none;
right: unset;
top: -430px;
margin-right: auto;
margin-left: auto;
display: block;

    }

    #dotwrapper2{
      background: rgba( 255, 255, 255, 0.50 );
      box-shadow: 1px 2px 2px 2px rgb(139 148 255 / 51%);
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      /* border-radius: 10px; */
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      float: left;
      text-align: center;
      background-color: rgb(106 196 255);
      padding: 1px;
      height: 10px;
      border-radius: 5px;
      width: 150px;
      transform: rotate(90deg);
      position: absolute;
      right: 440px;
      top: 82px;
    }




    /*
    @media only screen and (min-width: 300px) {


    .buttonWrapper {
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center!important;
    width: 400px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    position: relative;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    margin-right: auto;
    clear: both;
    bottom: 350px;
    left: 50px;
  }


  }*/


























  #main-img{
    background-image: url(images/IsolateSplash_Banner_optimized.png);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

  }
  #main-img2{
    background-image: url(images/iStock-1306973369_scaled_optimized.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

  }
  #main-img3{
      background-image: url(images/jj-ying-DYHx6h3lMdY-unsplash_optimized.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
    }
.subslideshowwrapper2{
  width: 100%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  position: relative;
  margin-top: 100px;
  padding-top: 10px;
}



span.dot2.active2 {
  height: 5px;
  box-shadow: 1px 1px 1px 1px rgb(146 146 146 / 51%);
  background-color: #6e6e6e;

}

.w3-redd {
  background-color: rgb(106 196 255) !important;
  color: white !important;
}

button.w3-button.demo2.w3-redd2{
  border-left: 5px solid #555555 !important;

}
button.w3-button.demo2.w3-redd2:hover{
  background-color: transparent !important;
  color: black !important;

}


.w3-redd2 {
  background-color: transparent !important;
  color: black !important;
}
.forCover{
  width: 45%;
  height: 500px;
  border: 1px solid red;
  background-repeat: no-repeat !important;
  background: url(images/iStock-1274381193_optimized.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  margin-left: 0;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: none;
}

.forCover2{
  float: right;
  width: 45%;
  height: 500px;
  border: 1px solid red;
  order: 3;
/*  background-repeat: no-repeat !important;
  background: url(images/undraw_annotation2.svg);
  background-size: 35vw 35vh;
  background-position: center;*/
  position: relative;
  margin-left: auto;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: none;

}
.forCover3{
  width: 40%;
  height: 500px;
  border: 1px solid red;
  background-repeat: no-repeat !important;
  background: url(images/placeholder.png);
  background-size: 40vw 65vh;
  background-position: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: none;

}

.demo{

}
.w3-btn, .w3-button {
  border-radius:5px;
  outline: none;
  margin-bottom: 10px;
  border-left: 5px solid #939393 !important;
  color: #000000;
  background-color: white;
  border: none;
}

.active, .dot:hover {
  background-color: rgb(8 126 204);

}
.active2 {
  background-color: rgb(8 126 204);
  color: white;


}

.w3-button.demo:hover {
  background-color: rgb(166, 220, 255) !important;
  color: rgb(30, 144, 218)!important;

}
.w3-button.demo2:hover {
  background-color: white !important;
  color: #000000 !important;
  border-left: 5px solid #939393 !important;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 19.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.row{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* this is for logo carousal*/
/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}


@keyframes subtext3idanimate{
  0%{
    bottom: 100px;
    display: none;
    height: 0px;
    opacity: 0;
  }
  50%{
    display: none;

  }
  100%{
    bottom: 0px;
    display: block;
    height: 100px;
    opacity: 1;
  }

}

@keyframes animateimage3{
  0%{

    display: none;

    opacity: 0;
    height: 100px;
  }

  100%{

    display: block;
    opacity: 1;

    height: 500px;
  }

}
@keyframes animateimage3360{
  0%{

    display: none;

    opacity: 0;
    height: 100px;
  }

  100%{

    display: block;
    opacity: 1;

    height: 300px;
  }

}

@keyframes animateimage2{
  0%{

    display: none;

    opacity: 0;
    max-height: 0px;
  }

  100%{

    display: block;
    opacity: 1;

    max-height: 550px;
  }

}

@keyframes subtext2idanimate{
  0%{
    display: none;
    max-height: 0px;
    opacity: 0;
  }

  100%{
    display: block;
    max-height: 500px;
    opacity: 1;
  }

}


@keyframes subtext1idanimate{
  0%{

    display: none;
    max-height: 0px;
    opacity: 0;
  }

  100%{

    display: block;
    max-height: 700px;
    opacity: 1;

  }

}


@keyframes animateimage1360{
  0%{

    display: none;
    opacity: 0;
    max-height: 0px;
  }

  100%{

    display: block;
    opacity: 1;
    max-height: 500px;
  }

}




@keyframes titlewrapanimate{
  0%{
    background-color: red;
  }
  100%{
    background-color: blue;
  }
}


@keyframes title2animate{
  0%{
    top: -50px;
    opacity: 0%;

  }

  100%{
    top:0px;
    opacity: 100%;
  }
}

@keyframes title3animate{
  0% {

    opacity: 0%;
    right: 200px;
    top: 0;
    display: none;

  }
  70%{
    top: 0;
    opacity: 0%;
    right: 200px;
    display: none;

  }

  100%{
    opacity: 100%;
    right: 0px;
    display: block;
    top: 0;
  }
}
@-webkit-keyframes title3animate{
  0% {

    opacity: 0%;
    right: 400px;
    display: none;
    top: 0;
  }
  70%{

    opacity: 0%;
    right: 400px;
    display: none;
    top: 0;
  }

  100%{
    opacity: 100%;
    right: 0px;
    display: block;
    top: 0;
  }
}






:root {
  --delay: 0;
  --duration: 800ms;
  --iterations: 1;
}
/* •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */


.reveal-text,
.reveal-text::after {
  -webkit-animation-delay: var(--animation-delay, 5s);
  animation-delay: var(--animation-delay, 5s);
  -webkit-animation-iteration-count: var(--iterations, 1);
  animation-iteration-count: var(--iterations, 1);
  -webkit-animation-duration: var(--duration, 1000ms);
  animation-duration: var(--duration, 1000ms);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);

}

.reveal-text {
  --animation-delay: var(--delay, 0);
  --animation-duration: var(--duration, 1000ms);
  --animation-iterations: var(--iterations, 1);
  position: relative;
  -webkit-animation-name: clip-text;
  animation-name: clip-text;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  top: 150px;
  font-size: 7vw;

}

.reveal-text::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7d7d7d;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: text-revealer;
  animation-name: text-revealer;
}


@-webkit-keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}


@keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}


@-webkit-keyframes text-revealer {

  0%, 50% {
    transform-origin: 0 50%;
  }

  60%, 100% {
    transform-origin: 100% 50%;
  }


  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}


@keyframes text-revealer {

  0%, 50% {
    transform-origin: 0 50%;
  }

  60%, 100% {
    transform-origin: 100% 50%;
  }


  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

/* ---------------------------- At media Starts -----------------------------------------*/
@media only screen and (min-width: 350px) and (max-width: 720px) {
  #main-img{
    background-image: url(images/IsolateSplash_Banner_optimized.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

  }
  #main-img2{
    background-image: url(images/iStock-1306973369_scaled_optimized.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

  }
  #main-img3{
      background-image: url(images/jj-ying-DYHx6h3lMdY-unsplash_optimized.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;

    }
  .mainContainer div {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
  .imagewrap {
    order: 1;
    width: 100%;
    height: 300px;
    margin-left: auto;
    padding-bottom: 10px !important;
}
.columnpara1 {
    height: auto;
    padding-left: 10px;
    display: block;
    border-left: 5px solid #939393;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0px 1px 2px 1px rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    margin-right: auto;
    margin-left: unset;
}
  .subcontainer2Wrapper {
    display: inline-block;
    width: 100%;
    padding-top: 0px !important;
}
  .card:hover .overlay {
    transform: scale(6) translateZ(0);
  }
  .mainContainer{
    margin-top: 10px;
    margin-bottom: 10px;
max-width: 1400px;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
  }
  .columnimag1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 227px;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 2px 1px rgb(76 149 255 / 37%);

  }
  .hovermaincontainer {
    background: #ffffff;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }
  .Maintxt1head {
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 1.2em;
    font-family: lato,sans-serif;
    /*Add line height to 1.5 to make more space but then also edit js scroll positions*/
  }
  .hr1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#939393,#939393);
    height: 3px;
    width: 80%;
    /* background: gray; */
    margin-left: auto;
    margin-right: auto;
  }
  .Maintxt1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-left: 5px solid #939393;
    /* border-bottom: 5px solid dodgerblue; */
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 1px 2px 1px rgb(76 149 255 / 37%);
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .colunmnarticle {
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    height: auto;
    display: block;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .columntest {
    display: none;
    height: auto;
  }
  .text2_2{
    width: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 10%;

    margin-left: auto;
    font-size: 12px;
    margin-right: auto;
    display: inline-block;
    overflow-wrap: anywhere;
  }
  .text3_3{
    width: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-left: auto;
    font-size: 12px;
    margin-right: auto;
    display: inline-block;
    overflow-wrap: anywhere;
  }
  .text1_1 {
    width: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-left: auto;
    font-size: 12px;
    margin-right: auto;
    display: inline-block;
    overflow-wrap: anywhere;
  }
  .title2{

    animation: title2animate 5s;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 1.9rem;
    /*background: -webkit-linear-gradient(#eee, #333);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #000000,#000000,#000000);

  }
  .title3{

    animation: title3animate 5s ease;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    width: max-content;
    font-size: 1.9rem;
    /*background: -webkit-linear-gradient(#eee, #333);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, lime,lime,dodgerblue,dodgerblue);
  }
  .titleof{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    width: max-content;
    font-size: 1.9rem;
    /*background: -webkit-linear-gradient(#eee, #333);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #000000,#007e00,#00ff00);
    display: block;
    animation: animateof360 3s ease;
  }
  .subtext3 {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: none;
    top: 10px;
  }
  .subcontainer3 {
    display: block;
    background-color: white;
    height: 606px;
  }
  .slideshowwrapper {
    height: 922px;
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
  }
  .subcontainer2 {
    display: none;
    height: auto;
    width: 100%;
    background-color: #ffffff;
  }
  .w3-btn, .w3-button {
    border-radius:5px;
    outline: none;
    margin-bottom: 10px;
    border-left: 5px solid #939393 !important;
    text-align: left !important;

    width: 100%;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;

  }
  .subcontainer2_2 {
    display: none;
    background-color: #ffffff;
    height: auto;
    width: 100%;
  }
  .subslideshowwrapper {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    position: relative;
    padding-top: 0px !important;
  }

  .subcontainer1 {
    display: inline-block;
    height: auto;
    width: 100%;
    background-color: white;
  }
  .wrapper{
    overflow-x: hidden;
  }
  .card {
    width: 90%;
    height: 250px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: -1px 1px 9px 2px rgb(38 123 255 / 14%);
    transition: all 0.3s ease-out;
    text-decoration: none;
    margin-bottom: 0px;
    -webkit-tap-highlight-color: transparent;
  }
  .card p {
    color: #4C5656;
    margin-top: 10px;
    z-index: 1;
    transition: color 0.3s ease-out;
}

  .overlay {
    width: 118px;
    position: relative;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 75px;
    left: 0;
    z-index: 0;
    transition: transform 0.3s ease-out;
  }
  .circle {
    bottom: 20px;
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
  }
  .mainCon {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-inline-box;
    color: white;
    float: right;
    position: relative;
    left: 280px;
    overflow: hidden;
    text-transform: uppercase;
  }
  .square1 {
    width: 200px;
    height: 200px;
    background-color: #979191;
  }
  .square2 {
    width: 200px;
    height: 200px;
    background-color: #979191;
  }
  .square3 {
    width: 200px;
    height: 200px;
    background-color: #979191;
  }
  .text1{
    writing-mode: vertical-rl;
    text-orientation: upright;
    float: left;
    font-size: 9px;
    background-color: grey;
    height: -webkit-fill-available;
    margin: 0 !important;

  }
  .text2{
    writing-mode: vertical-rl;
    text-orientation: upright;
    float: left;
    font-size: 9px;
    background-color: #52686d;
    height: -webkit-fill-available;
    margin: 0 !important;

  }
  .text3{
    writing-mode: vertical-rl;
    text-orientation: upright;
    float: left;
    font-size: 9px;
    background-color: #344548;
    height: -webkit-fill-available;
    margin: 0 !important;
  }

  #myDIV{
    transform: translate(0px, 10px);
    display: block;
    float: right;
    transition: top 2s ,right 2s;
    padding: 0 !important;
  }

  #myDIV2{
    transform: translate(-40px, 10px);
    display: block;
    float: right;
    transition: top 2s ,right 2s;
    padding: 0 !important;


  }
  #myDIV3{
    transform: translate(-210px, 10px);
    display: block;
    float: right;
    transition: top 2s ,right 2s;
    padding: 0 !important;



  }


  #dotwrapper {
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 1px 2px 2px 2px rgb(139 148 255 / 0%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* float: left; */
    text-align: center;
    background-color: rgb(106 196 255 / 0%);
    padding: 1px;
    height: 12px;
    border-radius: 5px;
    width: 100%;
    transform: none;
    position: absolute;
    right: 0;
    top: 05px;
    left: 0;
  }
  .dot2 {
    width: 70px;
    margin: 0 2px;
    background-color: #939393;
    border-radius: 1px;
    display: inline-block;
    transition: background-color 0.1s ease-in-out;
    bottom: 1.5px;
    height: 5px;
    position: relative;
    border-radius: 5px;
  }

  #dotwrapper2 {
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 1px 2px 2px 2px rgb(139 148 255 / 0%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    float: left;
    text-align: center;
    background-color: rgb(106 196 255 / 0%);
    padding: 1px;
    height: 10px;
    border-radius: 5px;
    width: 100%;
    transform: inherit;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
  }


  .slidecontainer{
    float: none;
    width: 100%;
    max-width: 100%;
    min-height: 374px;
    margin-right: 1.1vw;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 1px 1px 20px 0 rgb(145 152 255 / 28%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .mySlides {
    display:none;
    min-width: inherit;
    max-width: inherit;
    min-height: inherit;
    max-height: inherit;
    height: inherit;
    width: 100%;
  }

  .subslideshowwrapper2{
    width: 100%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    position: relative;
    margin-top: 100px;
    padding-top: 0px !important;
  }
  /* original in pxx

  .slidecontainer2 {
  padding: 0 !important;
  top: 150px;
  width: 150px;
  float: left;
  max-width: 150px !important;
  margin-left: 10px;
  background: rgba( 255, 255, 255, 0.50 );
  box-shadow: 1px 1px 20px 0 rgb(145 152 255 / 28%);
  backdrop-filter: blur( 3.0px );
  -webkit-backdrop-filter: blur( 3.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: relative;
}
*/
.slidecontainer2 {
  top: 0px;
  width: 100%;
  height: 50vw;
  float: none;
  min-height: 412px;
  margin-left: auto;
  margin-bottom: 10px;
  background: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0px 1px 2px 1px rgb(76 149 255 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: relative;
  display: inline-grid;
}

.mySlides2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  max-height: 300px;
  min-height: 300px !important;
  height: 300px;
  border-radius: 10px;
  min-width: inherit;
  max-width: inherit;
  background-repeat: no-repeat;

}
.buttonWrapper{
  background: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: center!important;
  width: 100%;
  font-size: 9px;
  height: 65vw;
  padding-top: 5px;
  padding-bottom: 5px;
  float: none;
  position: relative;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  margin-right: auto;
  clear: both;
  bottom: 0px;
  /* right: 10px; */
  left: 0px;
  top: 5px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 50px;
  margin: 0 2px;
  background-color: rgb(106 196 255);
  border-radius: 1px;
  display: inline-block;
  transition: background-color 0.1s ease;
  bottom: 2.5px;
  height: 5px;
  position: relative;
  border-radius: 5px;
}
.buttonWrapper2{
  background: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0px 1px 2px 1px rgb(76 149 255 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: center!important;
  width: 100%;
  height: auto;
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  float: none;
  position: relative;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  margin-right: auto;
  clear: none;
  right: 0px;
  bottom: 0vw;
  color: black;
}
.subtext1{
  font-size: 1.75rem;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  background: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0px 1px 2px 1px rgb(76 149 255 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: none;

}
.subtext2{
  font-family: lato,sans-serif;
  display: block;
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  background: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0px 1px 2px 1px rgb(76 149 255 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  bottom: -10px;
  font-size: 1em;
  line-height: 1.5;
  float: none;
}

div#forcoverid {
  width: 100%;
  height: 300px;
  border: 1px solid red;
  background-repeat: no-repeat !important;
  background: url(images/iStock-1274381193_optimized.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0px 1px 2px 1px rgb(76 149 255 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: none;
}
.forcover {
  width: 50%;
  height: 300px;
  border: 1px solid red;
  background-repeat: no-repeat !important;
  background: url(images/iStock-1274381193_optimized.jpg);
  background-size: 100% 100%;
  background-position: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: none;
}
div#forcoverid2{
  width: 100%;
  height: auto;
  border: 1px solid red;
  /*
  background-repeat: no-repeat !important;
  background: url(images/undraw_annotation2.svg);
  background-size: 100vw 100vh;
  background-position: center;
  */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0px 1px 2px 1px rgb(76 149 255 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.forCover2{
  width: 50%;
  height: 300px;
  border: 1px solid red;
  /*
  background-repeat: no-repeat !important;
  background: url(images/undraw_annotation2.svg);
  background-size: 50vw 45vh;
  background-position: center;
  */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: none;

}
div#forcoverid3 {
  width: 100%;
  height: 300px;
  border: 1px solid red;
  background-repeat: no-repeat !important;
  background: url(images/placeholder.png);
  background-size: 50vw 45vw;
  background-position: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.forCover3 {
  width: 50%;
  height: 300px;
  border: 1px solid red;
  background-repeat: no-repeat !important;
  background: url(images/placeholder.png);
  background-size: 50vw 45vw;
  background-position: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: none;
}

}

/* ------------------------------------------------------------360 ends -----------------------------------------------------------------*/

@media only screen and (min-width: 721px) and (max-width: 1000px) {
  #main-img{
    background-image: url(images/IsolateSplash_Banner_optimized.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
  #main-img2{
    background-image: url(images/iStock-1306973369_scaled_optimized.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

  }
  #main-img3{
      background-image: url(images/jj-ying-DYHx6h3lMdY-unsplash_optimized.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;

    }
  .Maintxt1head {
    font-size: 1.2rem;
    overflow: hidden;
    text-align: left;
    margin: 1rem 0;
    line-height: 1.2em;
    font-family: lato,sans-serif;
    font-weight: 400;
}
  .columnimag1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 227px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
  .imagewrap {
    order: 1;
    width: 100%;
    height: 500px;
    margin-left: auto;
}
.columnpara1 {
    height: auto;
    padding-left: 10px;
    display: block;
    border-left: 5px solid #939393;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    margin-right: auto;
    margin-left: unset;
}
  .subcontainer2Wrapper {
    display: block;
}

  .subslideshowwrapper {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .subcontainer1 {
    width: 100%;
    display: block;
    height: auto;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
  }

  div#forcoverid {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat !important;
    background: url(images/iStock-1274381193_optimized.jpg);
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .subtext1 {
          font-size: 1.75rem;
    margin-top: 30px;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    height: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: none;
  }
  .colunmnarticle {
    margin-top: 50px;
    padding: 10px;
    height: auto;
    display: block;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .forcover {
    width: 50%;
    height: 500px;
    border: 1px solid red;
    background-repeat: no-repeat !important;
    background: url(images/iStock-1274381193_optimized.jpg);
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: none;
  }
  div#forcoverid2{
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    border: 1px solid red;
    /*
    background-repeat: no-repeat !important;
    background: url(images/undraw_annotation2.svg);
    background-size: 90vw 100vh;
    background-position: center;
    */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .subtext2 {
    font-family: lato,sans-serif;
    font-size: 1em;
    line-height: 1.5;
    display: none;
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    float: none;
  }
  .subcontainer2_2 {
    display: inline-block;
    background-color: #ffffff;
    height: auto;
    width: 100%;
  }
  .forCover2{
    width: 50%;
    height: 500px;
    border: 1px solid red;
    /*
    background-repeat: no-repeat !important;
    background: url(images/undraw_annotation2.svg);
    background-size: 50vw 45vh;
    background-position: center;
    */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: none;

  }

  .slidecontainer2 {
    top: 0px;
    float: none;
    max-width: unset !important;
    min-height: unset;
    margin-left: 0px;
    margin-bottom: 10px;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
  }

  .buttonWrapper2 {
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center!important;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    float: none;
    position: relative;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    margin-right: auto;
    clear: none;
    right: 0px;
    font-size: 12px;
    bottom: 0px;
    color: rgb(30 144 218);
  }
  .dot2 {
    width: 180px;
    margin: 0 20px;
    background-color: #939393;
    border-radius: 1px;
    display: inline-block;
    transition: background-color 0.1s ease-in-out;
    bottom: 6.5px;
    height: 5px;
    position: relative;
    border-radius: 5px;
  }

  #dotwrapper {
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 1px 2px 2px 2px rgb(139 148 255 / 51%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* float: left; */
    text-align: center;
    background-color: #939393;
    padding: 1px;
    height: 12px;
    border-radius: 5px;
    width: 100%;
    transform: none;
    position: absolute;
    right: 0;
    top: 4px;
  }

  .buttonWrapper {
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center!important;
    width: 300px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    position: relative;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    margin-right: auto;
    clear: both;
    bottom: 300px;
    left: 50px;
  }

  .slidecontainer{
    float: right;
    max-width: 350px;
    margin-right: 10px;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 1px 1px 20px 0 rgb(145 152 255 / 28%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .mySlides {
    display:none;
    min-width: 350px;
    max-width: 350px;
    min-height: 350px !important;
    max-height: 350px;
  }

  .overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 80px;
    left: 65px;
    z-index: 0;
    transition: transform 0.3s ease-out;
  }
  .card {
    width: 260px;
    height: 351px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: -1px 1px 9px 2px rgb(38 123 255 / 14%);
    transition: all 0.3s ease-out;
    text-decoration: none;
    margin-bottom: 20px;
    -webkit-tap-highlight-color: transparent;
  }
  .hovermaincontainer {
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }

  .square1{

    width: 400px;
    height: 400px;
    background-color: #979191;

  }
  .square2 {
    width: 400px;
    height: 400px;
    background-color: #718c93;
  }
  .square3 {
    width: 400px;
    height: 400px;
    background-color: #587379;
  }
  #myDIV {
    transform: translate(190px, 10px);
    display: block;
    float: right;
    transition: top 2s ,right 2s;
    padding: 0 !important;
  }
  #myDIV2 {
    transform: translate(120px, 10px);
    display: block;
    float: right;
    transition: top 2s ,right 2s;
    padding: 0 !important;
  }
  #myDIV3 {
    transform: translate(-230px, 10px);
    display: block;
    float: right;
    transition: top 2s ,right 2s;
    padding: 0 !important;
  }

  #dotwrapper2 {
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 1px 2px 2px 2px rgb(139 148 255 / 51%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    float: left;
    text-align: center;
    background-color: rgb(106 196 255);
    padding: 1px;
    height: 10px;
    border-radius: 5px;
    width: 170px;
    transform: rotate(90deg);
    position: absolute;
    right: 0px;
    left: -100px;
    top: 100px;

  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 5vw;
    margin: 0 2px;
    background-color: rgb(106 196 255);
    border-radius: 1px;
    display: inline-block;
    transition: background-color 0.1s ease;
    bottom: 9.5px;
    height: 5px;
    position: relative;
    border-radius: 5px;
  }


}
/* --------------------------------------------------------720 ends ---------------------------------------------------------------*/
@media only screen and (min-width: 1000px) and (max-width: 1199px){


  #dotwrapper2{
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 1px 2px 2px 2px rgb(139 148 255 / 51%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    float: left;
    text-align: center;
    background-color: rgb(106 196 255);
    padding: 1px;
    height: 10px;
    border-radius: 5px;
    width: 150px;
    transform: rotate(90deg);
    position: absolute;
    right: 350px;
    top: 82px;
  }

  div#forcoverid {
    width: 45%;
    height: 500px;
    border: 1px solid red;
    background-repeat: no-repeat !important;
    background: url(images/iStock-1274381193_optimized.jpg);
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    margin-left: 0;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  div#forcoverid2{
    width: 45%;
    height: 500px;
    border: 1px solid red;
    /*
    background-repeat: no-repeat !important;
    background: url(images/undraw_annotation2.svg);
    background-size: 40vw 65vh;
    background-position: center;
    */
    position: relative;
    margin-left: auto;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .forCover2{
    width: 40%;
    height: 500px;
    border: 1px solid red;
    /*
    background-repeat: no-repeat !important;
    background: url(images/undraw_annotation2.svg);
    background-size: 40vw 65vh;
    background-position: center;
    */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: none;

  }
  div#forcoverid3 {
    width: 40%;
    height: 500px;
    border: 1px solid red;
    background-repeat: no-repeat !important;
    background: url(images/placeholder.png);
    background-size: 40vw 65vw;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .forCover3 {
    width: 40%;
    height: 500px;
    border: 1px solid red;
    background-repeat: no-repeat !important;
    background: url(images/placeholder.png);
    background-size: 40vw 65vw;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: none;
  }

  .dot2 {
    height: 15px;
        width: 240px;
        margin: 0 20px;
        background-color: #939393;
        border-radius: 1px;
        display: inline-block;
        transition: background-color 0.1s ease-in-out;
        bottom: 10px;
        height: 5px;
        position: relative;
        border-radius: 5px;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 35px;
    margin: 0 2px;
    background-color: rgb(106 196 255);
    border-radius: 1px;
    display: inline-block;
    transition: background-color 0.1s ease;
    bottom: 10px;
    height: 5px;
    position: relative;
    border-radius: 5px;

  }


  .buttonWrapper {
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center!important;
    width: 400px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    position: relative;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    margin-right: auto;
    clear: both;
    bottom: 350px;
    left: 50px;
    color: rgb(30 144 218);
  }


}

/* --------------------------------------------------------1000 ends ---------------------------------------------------------------*/
@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  /*everythin under 1024 will appear like this*/


  .buttonWrapper2 {
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center!important;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    float: none;
    position: relative;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    margin-right: auto;
    clear: both;
    right: 0px;
    top: 10px;
    bottom: 0px;
    color: rgb(30 144 218);
  }
  #dotwrapper{
    margin-left: auto;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 1px 2px 2px 2px rgb(139 148 255 / 51%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    float: none;
    clear: none;
    text-align: center;
    background-color: #939393;
    padding: 1px;
    height: 15px;
    border-radius: 5px;
    width: 85%;
    transform: rotate(0deg);
    position: absolute;
    right: 0px;
    left: 0%;
    top: 3px;
    margin-right: auto;
  }
  .mySlides2 {
    margin-left: auto;
    display: none;
    min-width: 100%;
    max-width: 100%;
    min-height: 350px;
    max-height: 100%;
    border-radius: 10px;
    margin-right: auto;
    background-repeat: no-repeat;
  }
  .slidecontainer2 {
    max-width: unset !important;
    /* border: 1px solid red !important; */
    top: 0px;
    float: none;
    width: 100%;
    height: 500px;
    min-height: unset;
    margin-left: auto;
    margin-right: auto;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0px 1px 8px 1px rgb(76 149 255 / 37%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
  }

  .slidecontainer{
    float: right;
    max-width: 450px;
    min-height: 450px;
    margin-right: 10px;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 1px 1px 20px 0 rgb(145 152 255 / 28%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  #dotwrapper2 {
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 1px 2px 2px 2px rgb(139 148 255 / 51%);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    float: left;
    text-align: center;
    background-color: rgb(106 196 255);
    padding: 1px;
    height: 10px;
    border-radius: 5px;
    width: 150px;
    transform: rotate(90deg);
    position: absolute;
    right: 450px;
    top: 82px;
  }

  .dot2 {
    height: 15px;
    width: 250px;
    margin: 0 25px;
    background-color: #939393;
    border-radius: 1px;
    display: inline-block;
    transition: background-color 0.1s ease-in-out;
    bottom: 9px;
    height: 5px;
    position: relative;
    border-radius: 5px;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 35px;
    margin: 0 2px;
    background-color: rgb(106 196 255);
    border-radius: 1px;
    display: inline-block;
    transition: background-color 0.1s ease;
    bottom: 9.5px;
    height: 5px;
    position: relative;
    border-radius: 5px;
  }
  .mySlides {
    display: none;
    min-width: 350px;
    max-width: 350px;
    min-height: 350px;
    max-height: 350px;
    border-radius: 10px;
  }



}
/* --------------------------------------------------------2000 ends ---------------------------------------------------------------*/

@media only screen and (min-width: 1800px) {
  .title2 {
    animation: title2animate 5s;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 4vw;
    /* background: -webkit-linear-gradient(#eee, #333); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #000000,#000000,#000000);
}
.titleof {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    width: max-content;
    font-size: 4vw;
    /* background: -webkit-linear-gradient(#eee, #333); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #000000,#007e00,#00ff00);
    display: block;
    animation: animateof 3s ease;

}
.title3 {
    animation: title3animate 5s ease;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    width: max-content;
    font-size: 4vw;
    /* background: -webkit-linear-gradient(#eee, #333); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, lime,lime,dodgerblue,dodgerblue);
}

}
