.scheme-light {
    .btn {
        border-color: white;

        &:hover {
            background: white;
            color: black;
        }
    }
}

.scheme-dark {
    .btn {
        border-color: $default-text-color;

        &:hover {
            background: black;
            color: white;
        }
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border-radius: 99rem;
    text-transform: uppercase;
    color: inherit;
    border: 1px solid currentColor;
    background: none;

    &.icon-after {
        .far {
            margin-left: 0.5em;
            order: 1;
        }
    }

    &.icon-before {
        .far {
            margin-right: 0.5em;
        }
    }

    .btn-label {
        line-height: 1em;
    }

    .far {
        color: inherit;
    }
}
