.fitcoin-switch-bar {
	text-align: right;
    padding-bottom: 1rem;

    .toggle-switch-wrapper {
		display: flex;
		align-items: center;
        width: 215px;
        margin-left: auto;

		.fit__text {
    		padding-right: 10px;
    		font-size: 15px;
    		color: #6f6f6f;
    		text-transform: capitalize;
		}
	}
}

.toggle-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 32px;
	vertical-align: middle;

	@media screen and (max-width: 766px) {
        width: 48px;
		height: 26px;
	}

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;

	&:before {
		position: absolute;
		content: "";
		height: 30px;
		width: 30px;
		left: 1px;
		bottom: 1px;
		background-color: white;
		transition: .4s;
        background-image: url("img/fitcoin_250_light.png");
        background-size: cover;

		@media screen and (max-width: 766px) {
			height: 24px;
			width: 24px;
		}
	}
}

input {
	&:checked +  .slider {
		background-color: #03953f;

		&:before {
			transform: translateX(28px);

			@media screen and (max-width: 766px) {
				transform: translateX(22px);
			}
		}
	}
}

.slider.round {
	border-radius: 30px;

	@media screen and (max-width: 766px) {
		border-radius: 26px;
	}

	&:before {
		border-radius: 50%;
	}
}

.fitcoin-earn {
	font-family: "Lato",sans-serif;
    font-size: 0.9rem;
    color: #6f6f6f;
	order: -2;
	display: none;
	line-height: 24px;
    margin: 0 0 0.3rem -18px;
	width: 100%;

	&:after {
		content: "";
		height: 22px;
		width: 22px;
		margin-left: 0.7rem;
		background-image: url('img/fitcoin_250_light.png');
		background-size: cover;
		display: inline-block;
		position: absolute;
	}

	.number {
		font-weight: 900;
	}
}

