input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="file"],
input[type="search"],
textarea,
select {
    @include placeholder() {
        color: #969696;
    }

    font-family: inherit;
    width: 100%;
    border-radius: 0.125rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #cbc9c9;
    font-size: 1rem;
}
