.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @for $i from 1 through 8 {
        &.gallery-columns-#{$i} .gallery-item {
            width: 100% / $i;
        }
    }

    .gallery-item {
        padding: 1rem;
    }
}
