.Button__FormStyledButton-sc-1of1qh3-0{
        transition: all 300ms ease-in-out !important;
        border-left: none !important;
        border-radius: 0 2px 2px 0 !important;
        font-family: "Lato",sans-serif !important;
        font-weight: 500 !important;
    }
    .TextInput__FormStyledTextInput-sc-1ydur12-0{
        border-radius: 2px 0 0 2px !important;

        ::placeholder{
            font-family: "Lato",sans-serif !important;
            font-weight: 400 !important;
        }
    }

    .ql-font-lato{
        font-family: "Lato",sans-serif !important;
    }