.woocs-style-3-du-dialog .woocs-style-3-dlg-select-item .woocs-style-3-dlg-select-radio+.woocs-style-3-dlg-select-lbl:before {
  left: 8px !important;
}
.woocs-style-3-du-dialog .woocs-style-3-dlg-select-item {
  margin-right: 18px !important;
  margin-left: 8px !important;
}
.woocs-style-3-close:hover  {
 color: black;
}
.woocs-style-3-du-dialog-starter {
  padding: 0.69em 1.41575em !important;
}
@media only screen and (max-width: 398px) {
    .header .cart-link .amount {
      display: none !important;
    }
}
.screen-change-txt{
  color: #6f6f6f;
  top: 4px;
  margin-left: 10px;
}
.woocs-style-3-du-dialog-starter .sign-change-txt{
  display: inline-block;
  color: #6f6f6f;
}
@media only screen and (max-width: 400px) {
  .woocs-style-3-du-dialog-starter{
    position: relative;
    background-size: 15px 15px !important;
    width: 35px !important;
    display: inline !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
  .woocs-style-3-dlg-select-lbl .screen-change-txt{
    display: inline !important;
  }
  .woocs-style-3-dlg-content {
    max-height: 350px  !important;
  }
}    
@media only screen and (max-width: 1024px) {
  .screen-change-txt{
    display: none;
  }

  .custom-currency-span1{
    display: none !important;
  }
  .custom-currency-span2{
    display: block;
  }
  .woocs-style-3-dlg-select-lbl .screen-change-txt{
    display: inline !important;
  }
  .woocs-style-3-du-dialog-starter .sign-change-txt{
    padding: 0px;
    margin-left: 20px !important;
  }
  .woocs-style-3-du-dialog-starter{
    background-color: rgb(255, 255, 255) !important;
    background-size: 23px 23px !important;
    width: 43px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
}
@media only screen and (max-width: 1023px) {
  .screen-change-txt {
    display: none !important;
  }
 
  .woocs-style-3-du-dialog-starter .sign-change-txt{
    padding: 0px;
    margin-left: 10px;
  }
  .woocs-style-3-du-dialog-starter{
    background-color: rgb(255, 255, 255) !important;
    background-size: 18px 18px !important;
    width: 40px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .custom-currency-span1 {
    display: inline !important;
  }
  .custom-currency-span2{
    display: none;
  }
  .woocs-style-3-du-dialog-starter{
    background-color: rgb(255, 255, 255) !important;
  }
}
.woocs_auto_switcher{
    display:none;
}
