.class-us .paybright_svg {
    display: none;
} 
.paybright_svg .st0 {
    fill: #4341AA;
}

.paybright_svg .st1 {
    fill: #08AF97;
}
.paybright_svg{
    padding-right: 3px;
    padding-left: 3px;
    background-color: white;
    border-radius: 5px;
}