.announcement-bar {
    background: #737373;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;

    @include breakpoint(from-desktop) {
        font-size: 1rem;
    }

    a {
        color: inherit;
    }

    .announcement {
        padding: 0.625rem 0;

        &:not(:first-child):not([class*="slick-slide"]) {
            display: none;
        }
    }
}
