.cookie-notice {
    position: fixed;
    left: 0;
    bottom: 0;
    background: black;
    color: white;
    z-index: 90;
    width: 100%;
    padding: 0.5rem 0;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
    font-size: 0.8rem;

    @include breakpoint(from-phablet) {
        font-size: 1rem;
    }

    &.reveal {
        transform: translateY(0);
    }

    .container {
        text-align: center;

        @include breakpoint(from-phablet) {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
        }
    }

    .btn {
        padding: 0.25rem 1.125rem;
        cursor: pointer;
        margin: 0.5rem 0 0 0;

        @include breakpoint(from-phablet) {
            margin: 0 0.75rem;
        }
    }
}
