.footer {
    padding: $block-padding;
    background: #303030;
    color: white;



    .wrap-logos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .wrap-logos .payments-logo{

        @include breakpoint(from-tablet) {
            flex: 2;
        }

        @include breakpoint(from-desktop) {
            flex: 3;
        }
    }

    .wrap-logos .social-logo{

        @include breakpoint(from-tablet) {
            flex: 1;
        }

        @include breakpoint(from-desktop) {
            flex: 1;
        }
    }
    .facebook_footer{
        // background-color: white;
        border-radius: 5px;
        margin-right: 10px;
        display: inline-flex;
    }

    .instagram_footer{
        // background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 70%, #285AEB 103%);
        border-radius: 5px;
        margin-right: 10px;
        display: inline-flex;
    }

    .twitter_footer{
        // background-color: white;
        border-radius: 5px;
        margin-right: 10px;
        display: inline-flex;
    }

    .snapchat_footer{
        // background-color: #FFFC00;
        margin-right: 10px;
        display: inline-flex;
    }

    .pintrest_footer{
        // background-color: white;
        border-radius: 5px;
        display: inline-flex;
    }

    .logo_fill{
        fill:gray;
        border-radius: 100%;
        display: inline-flex;
    }

    .logo_fill:hover{
        fill:white;
        box-shadow: 0px 2px 2px 0px #cecece;
    }

    .footer-title.for-logos{
        margin-top: 2rem;
        margin-bottom: 0.7rem;

    }

    .container {
        @include breakpoint(from-tablet) {
            display: flex;
        }
    }

    .footer-title {
        font-family: $font-family-primary;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 1.25rem;
    }

    .nav-cols {
        flex: 1;

        @include breakpoint(from-tablet) {
            flex: 2;
            display: flex;
        }

        @include breakpoint(from-desktop) {
            flex: 3;
        }
    }

    .middle-column {
        flex: 1;
        margin-top: 2rem;

        @include breakpoint(from-tablet) {
            margin: 0;
        }

        @include breakpoint(from-desktop) {
            flex: 2;
            display: flex;
        }

        .nav:not(:first-child) {
            margin-top: 2rem;

            @include breakpoint(from-desktop) {
                margin: 0;
            }
        }
    }

    .nav,
    .newsletter {
        flex: 1;
    }

    .menu-item {
        margin-top: 0.5rem;

        @include breakpoint(from-tablet) {
            margin-top: 1rem;
        }
    }

    a {
        color: rgba(255, 255, 255, 0.79);

        &:hover {
            color: white;
        }
    }

    .newsletter {
        font-size: 0.85em;
        margin-top: 2rem;

        @include breakpoint(from-tablet) {
            margin-top: 0;
        }

        label {
            display: block;
            font-size: 1em;
            padding-bottom: 0.125rem;
            padding-left: 0.125rem;
        }

        .asterisk {
            color: #e85c41;
            font-size: 1.3em;
        }

        .indicates-required {
            text-align: right;
            font-size: 0.85em;
        }

        .mc-field-group {
            margin-bottom: 0.75rem;
        }

        #mc_embed_signup {
            div.mce_inline_error {
                display: inline-block;
                border-radius: 0.125rem;
                margin: 0.25rem 0 0 0;
                font-weight: 400;
            }
        }

        .submit-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;

            .btn {
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: #a3a3a3;
                    color: black;
                }
            }
        }
    }
}

.class-us .klaviyo-form-RsgMcV {
    display: none; 
}

.class-ca .klaviyo-form-X5sknS {
    display: none; 
}