.header {
    background: white;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    form {
        margin-left: 1em;
    }

    .logo {
        max-width: 140px;

        @include breakpoint(from-phablet) {
            max-width: 180px;
        }

        @include breakpoint(from-desktop) {
            max-width: 250px;
        }
    }

    .navigation {
        text-transform: uppercase;
        color: #6f6f6f;

        .container {
            display: flex;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            align-items: center;

            @include breakpoint(from-desktop) {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
    }

    .primary-navigation {
        flex: 1;
    }

    .auxiliary-content {
        display: none;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: -0.25rem;
        font-size: 0.85rem;
        margin-top: 0.5rem;

        @include breakpoint(from-desktop) {
            display: flex;
        }

        .social {
            margin-right: 1rem;
        }

        .social a {
            display: inline-block;
            background: #e0e0e0;
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 26px;
            border-radius: 99rem;
            margin: 0 0.125rem;

            &:hover {
                background: #969696;
                color: white;
            }
        }

        a {
            color: inherit;

            &:hover {
                color: #03953f;
            }
        }
    }

    .main-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include breakpoint(from-desktop) {
            font-weight: 700;
        }

        a {
            color: #6f6f6f;

            &:hover {
                color: #03953f;
            }
        }
    }

    .menu {
        display: flex;
        justify-content: flex-end;

        > .menu-item {
            > .sub-menu {
                display: none;
                position: absolute;
                left: 0;
                top: 100%;
                background: white;
                box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
                padding: 0.75rem 1.25rem;
                text-transform: none;
                width: 16rem;
                font-weight: 400;

                &.visible {
                    display: block;
                }

                .menu-item {
                    a {
                        padding: 0.5rem 0;
                    }
                }

                .sub-menu {
                    display: block;
                }
            }
        }
    }

    .menu-item {
        position: relative;

        &.new-badge {
            &:after {
                content: "New";
                text-transform: uppercase;
                position: absolute;
                top: 0.325rem;
                right: 0;
                background: #1e8546;
                color: white;
                font-size: 0.625rem;
                padding: 1px 0.25rem;
                letter-spacing: 1px;
            }
        }

        a {
            display: block;
            padding: 1.5rem 0.75rem;
        }

        &.menu-item-has-children > a {
            &:after {
                content: '\f107';
                font-family: $font-family-icons;
                display: inline-block;
                margin-left: 0.325rem;
            }
        }

        &.mega-menu {
            position: static;

            > .sub-menu {
                flex-wrap: wrap;
                align-items: flex-start;
                width: 100%;

                &.visible {
                    display: flex;
                }

                a:after {
                    display: none;
                }

                > .menu-item > a {
                    color: black;
                    font-weight: 700;

                    &:hover {
                        color: #03953f;
                    }
                }

                .sub-menu .menu-item a {
                    padding: 0.25rem 0;
                }
            }

            @for $i from 1 through 5 {
                &.mega-col-#{$i} {
                    > .sub-menu > .menu-item {
                        width: 100% / $i;
                    }
                }
            }

            &.mega-fixed {
                > .sub-menu > .menu-item:first-child {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;

                    .sub-menu {
                        a {
                            color: #494949;

                            &:hover {
                                color: #03953f;
                            }
                        }
                    }
                }

                @for $i from 2 through 5 {
                    &.mega-col-#{$i} {
                        > .sub-menu {
                            padding-left: calc(#{100% / $i} + 1.5rem);

                            > .menu-item {
                                width: 100% / ($i - 2);

                                @include breakpoint(from-desktop-lrg) {
                                    width: 100% / ($i - 1);
                                }
                            }

                            > .menu-item:first-child {
                                width: 100% / $i;
                                padding: .75rem 1.25rem;
                                background: #f1f0f0;
                            }
                        }
                    }
                }
            }
        }
    }

    .cart-link {
        padding: 0.5rem 0.75rem;
        position: relative;
        display: block;
        font-size: 0.9rem;

        @include breakpoint(from-desktop) {
            padding: 1.5rem 0.75rem;
            font-size: 1rem;
        }

        .amount {
            display: none;

            @include breakpoint(from-smartphone) {
                display: inline;
            }
        }

        .cart-label {
            display: none;

            @include breakpoint(from-desktop) {
                display: inline;
            }
        }

        .far {
            margin-left: 0.25rem;
            font-size: 1.125rem;

            @include breakpoint(from-desktop) {
                font-size: 1.325rem;
            }
        }

        .total-items {
            position: absolute;
            background: black;
            color: white;
            font-size: 0.725rem;
            width: 1rem;
            height: 1rem;
            top: 3px;
            right: 4px;
            text-align: center;
            line-height: 1rem;
            border-radius: 99rem;

            @include breakpoint(from-desktop) {
                top: 19px;
            }
        }
    }

    .nav-button {
        border: none;
        background: none;
        box-shadow: none;
        color: #6f6f6f;
        cursor: pointer;
        text-align: right;
        width: 2rem;
        outline: none;
        font-size: 0.9rem;
        vertical-align: text-bottom;
        padding: 0;

        @include breakpoint(from-desktop) {
            font-size: 1rem;
        }

        &:hover {
            color: #03953f;
        }
    }

    .search-popout {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background: white;
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
        padding: 1.25rem;

        &.visible {
            display: flex;
        }

        .form-button {
            background: none;
            box-shadow: none;
            border: 1px solid #cbc9c9;
            border-left: none;
            padding: 0.5rem 1.25rem;
            font-size: 0.9rem;
        }
    }

    .cart-box {
        position: relative;

        @include breakpoint(from-desktop) {
            &:hover {
                .mini-cart-popout {
                    display: block;
                }
            }
        }
    }

    .mini-cart-popout {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background: white;
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
        width: 24rem;
        text-transform: none;

        > * > * {
            padding-left: 1.25rem;
            padding-right: 1.25rem;

            &:first-child {
                padding-top: 1.25rem;
            }
        }

        .title-xsmall {
            margin-top: 0;
            font-size: 1.5rem;
            text-transform: uppercase;
        }

        ul.cart_list,
        ul.product_list_widget {
            padding: 0 1.25rem 1.25rem 1.25rem;
            overflow: auto;
            max-height: 20rem;
        }

        .woocommerce-mini-cart-item {
            display: flex;
            align-items: flex-start;
            padding: 0;

            img {
                width: 5rem;
                float: none;
                margin: 0;
            }
        }

        .product-details {
            flex: 1;
            padding-left: 0.75rem;
        }

        .base-name {
            display: block;
            color: black;
        }

        .attribute-name {
            display: block;
            font-size: 0.9rem;
            margin-top: 0.325rem;
        }

        .quantity {
            display: block;
            margin-top: 0.325rem;
            font-size: 0.9rem;
            color: #6f6f6f;
        }

        .mini-cart-footer {
            background: #f1f0f0;
            padding: 1.25rem;
        }

        .total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
        }

        .buttons {
            margin-bottom: 0;
        }

        .remove_from_cart_button {
            color: #939393 !important;
            align-self: center;
            margin: 0;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1rem;
            text-align: center;
            line-height: 1.5rem;
            border-radius: 99rem;

            &:hover {
                background: #909090;
                color: white !important;
            }
        }

        .button {
            display: block;
            border: 1px solid #cbc9c9;
            padding: 0.5rem 1.5rem;
            border-radius: 99rem;
            text-transform: uppercase;
            color: black;
            text-align: center;
            background: white;
            line-height: 1.4em;

            &:hover {
                background: #a0a0a0;
                color: black;
            }

            &:not(:first-child) {
                margin-top: 0.75rem;
            }
        }
    }

    .main-nav {
        .menu-item {
            display: none;

            @include breakpoint(from-desktop) {
                display: block;
            }
        }
    }

    .open-mobile-menu {
        background: none;
        border: none;
        font-size: 1rem;
        text-transform: uppercase;
        font-family: inherit;
        padding: 0.25rem 0 0.25rem 1rem;
        color: inherit;
        font-weight: 700;
        cursor: pointer;

        @include breakpoint(from-desktop) {
            display: none;
        }
    }

    .mobile-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0.25rem;
        font-weight: 700;
        font-size: 0.9rem;

        @include breakpoint(from-phablet) {
            font-size: 1rem;
        }

        @include breakpoint(from-desktop) {
            display: none;
        }

        .menu-item a {
            padding: 0.25rem 0.75rem;
            color: inherit;
        }
    }
}
