.main-content {
    outline: none;
    position: relative;
    z-index: 10;

    > * {
        position: relative;
    }
}

.main-content-with-country-selector {
    padding-top: 0;
    outline: none;
    position: relative;
    z-index: 10;

    > * {
        position: relative;
    }
}
