.mobile-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 18rem;
    height: 100%;
    overflow: auto;
    z-index: 99;
    background: white;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
    padding: 1.5rem 0;
    color: #6f6f6f;

    &.open {
        transform: translateX(0);
    }

    @include breakpoint(from-desktop) {
        display: none;
    }

    .welcome {
        text-transform: uppercase;
        font-size: 0.8rem;
        padding: 0 1.5rem;
    }

    .menu {
        list-style: none;
        margin: 1.5rem 0;
        padding: 1.5rem 0;
        border-top: 2px solid #e0e0e0;
        border-bottom: 2px solid #e0e0e0;
    }

    .menu-item {

        &:not(:first-child) {
            margin-top: 0.625rem;
        }

        &.new-badge {
            a {
                position: relative;
                padding: 0 3.25rem 0 1.5rem;

                &:after {
                    content: "New";
                    text-transform: uppercase;
                    position: absolute;
                    top: 50%;
                    right: 0.5rem;
                    background: #1e8546;
                    color: white;
                    font-size: 0.625rem;
                    padding: 1px 0.25rem;
                    letter-spacing: 1px;
                    transform: translateY(-50%);
                }
            }
        }

        a {
            padding: 0 1.5rem;
            display: inline-block;
        }
    }

    a {
        color: inherit;
    }

    .social {
        padding: 0 1.5rem;
        margin-top:1.5rem;
    }

    .social a {
        display: inline-block;
        background: #e0e0e0;
        width: 26px;
        height: 26px;
        text-align: center;
        line-height: 26px;
        border-radius: 99rem;
        margin: 0 0.25rem 0 0;

        &:hover {
            background: #969696;
            color: white;
        }
    }
}

.mobile-close-target {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 98;
    display: none;

    &.open {
        display: block;
    }
}
