.fitcoin-wallet-holder {
    width: 600px;
    margin: 0.5rem auto 2rem auto;
    color: white;
    position: relative;

    @media (max-width: 650px) {
        width: 100%;
    }

    .point-user-name {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 0 2.5rem 3rem;
        max-width: 60%;
        text-transform: uppercase;
        text-shadow: 0 0 0.5rem black;
        font-weight: 700;
        font-size: 1.125rem;
        letter-spacing: 1px;

        @media (max-width: 650px) {
            font-size: 1rem;
            font-weight: 400;
            padding: 0 0 2rem 2.5rem;
        }

        @media (max-width: 500px) {
            padding: 0 0 2rem 2rem;
        }
    }

    .point-container {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1.5rem 2rem;
    }

    .points-amount {
        font-size: 3.5rem;
        line-height: 1.2em;
        font-weight: 700;
        text-shadow: 0 0 0.5rem black;

        @media (max-width: 650px) {
            font-size: 2rem;
        }

        @media (max-width: 500px) {
            font-size: 1.5rem;
        }
    }

    .points-label {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 1px;
        opacity: 0.8;
        text-shadow: 0 0 0.5rem black;

        @media (max-width: 500px) {
            font-size: 0.9rem;
        }
    }
}
