.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-small {
    font-size: 0.8em;
}

.text-normal {
    font-size: 1em;
}

.text-medium {
    font-size: 1.2em;
}

.text-large {
    font-size: 1.4em;
}

.text-xlarge {
    font-size: 1.6em;
}

.textsmallcustom{
    font-size: 0.8em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
}
  
@media only screen and (min-width: 250px) and (max-width: 400px) {
    .custom-wrapper{
        font-size: 0.8em;
        border:1px solid #d0d0d0;
        border-radius: 10px;
        display: block;
        width: 320px;
        height: 400px;
        overflow: scroll;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    .custom-wrapper{
        font-size: 0.8em;
        border:1px solid #d0d0d0;
        border-radius: 10px;
        display: block;
        width: 90vw;
        height: 400px;
        overflow: scroll;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1500px) {
    .custom-wrapper{
        font-size: 0.8em;
        border:1px solid #d0d0d0;
        border-radius: 10px;
        display: block;
        width: 100%;
        height: 400px;
        overflow: scroll;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 2000px) {
    .custom-wrapper{
        font-size: 0.8em;
        border:1px solid #d0d0d0;
        border-radius: 10px;
        display: block;
        width: 80%;
        height: 400px;
        overflow: scroll;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        margin-top: 10px;
    }
}