.woocommerce-checkout-review-order-table{
    display: block;
}
.woocommerce-checkout-review-order-table thead{
    display: flex;
    width: 100%;
}
.woocommerce-checkout-review-order-table thead tr{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.woocommerce-checkout-review-order-table tbody{
    display: inline-block;
    width: 100%;
}

.woocommerce-checkout-review-order-table tbody tr.cart_item{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.woocommerce-checkout-review-order-table tbody tr.cart_item td.product-thumbnail-checkout{
    flex: 1 1 1%;
    display: flex;
    align-items: center;
    height: auto;
}
.woocommerce-checkout-review-order-table tbody tr.cart_item td.product-name{
    flex: 1 1 20%;
    display: flex;
    align-items: center;
}
.woocommerce-checkout-review-order-table tbody tr.cart_item td.product-total{
    flex: 1 1 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.woocommerce-checkout-review-order-table tbody tr.cart_item td.for-gift-card-checkout{
    display: flex;
    border-top: 0;
    flex: 2 1 100%;
    padding-top: 0;

}
.woocommerce-checkout-review-order-table tbody tr.cart_item td.for-gift-card-checkout dl.variation{
    width: 100%;
    margin: 0;
}
.woocommerce-checkout-review-order-table tbody tr.cart_item td.for-gift-card-checkout .gift-info-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}
.woocommerce-checkout-review-order-table tbody tr.cart_item td.for-gift-card-checkout .gift-info-wrapper dt{
    font-weight: bold;
}
.woocommerce-checkout-review-order-table tbody tr.cart_item td.for-gift-card-checkout .gift-info-wrapper dd p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.woocommerce-checkout-review-order-table tbody tr.cart_item td.for-gift-card-checkout .gift-info-wrapper dd.variation-Message p{
    max-height: 80px;
    height: auto;
    overflow-y: scroll;
    word-break: break-all;
    text-align: left;
}
.woocommerce-checkout-review-order-table tbody tr.cart_item td.for-gift-card-checkout .gift-info-wrapper dd.variation-Message p::-webkit-scrollbar {
    width: 5px;
}
  
.woocommerce-checkout-review-order-table tbody tr.cart_item td.for-gift-card-checkout .gift-info-wrapper dd.variation-Message p::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
.woocommerce-checkout-review-order-table tbody tr.cart_item td.for-gift-card-checkout .gift-info-wrapper dd.variation-Message p::-webkit-scrollbar-thumb {
    background: #888; 
}
  
.woocommerce-checkout-review-order-table tbody tr.cart_item td.for-gift-card-checkout .gift-info-wrapper dd.variation-Message p::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.woocommerce-checkout-review-order-table tfoot{
    display: inline-block;
    width: 100%;
}
.woocommerce-checkout-review-order-table tfoot tr{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.woocommerce-checkout-review-order-table tfoot tr th{
    width: 100%;
}
.woocommerce-checkout-review-order-table tfoot tr td{
    width: 100%;
}