@include fontface("Microgramma", "M025094D", 400);
@include fontface("Microgramma", "M025096D", 700);
@include fontface("Font Awesome 5 Brands", "fa-brands-400-20211214", 400);
@include fontface("Font Awesome 5 Pro", "fa-regular-400-20211214", 400);

.fab {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
}

.far {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
}
