body {
    font-family: $font-family-primary;
}

@include headings() {
    margin: 1rem 0;
    line-height: 1.2em;
    font-family: $font-family-heading;
    font-weight: 400;
}

p {
    margin: 1rem 0;
}

h1 {
    @include scaleAttr(font-size, 2.5rem, 0.125rem);
}

h2 {
    @include scaleAttr(font-size, 2rem, 0.125rem);
}

h3 {
    @include scaleAttr(font-size, 1.75rem, 0.125rem);
}

h4 {
    @include scaleAttr(font-size, 1.5rem, 0.125rem);
}

h5 {
    @include scaleAttr(font-size, 1.25rem, 0.125rem);
}

h6 {
    font-size: 1.125rem;
}
