
td.product-name.product-custom-img::before {
    content: '' !important;
}
.mobileCartImage {
    display: none;
}
.heading-cross-sells{
    text-align: center;
    width: 80%;
    margin-bottom: 3%;
    letter-spacing: 1px;
}
.for_cross-sells-ul> ul{
    margin: 0 !important;
}
.for_cross-sells-ul> ul> li{
    width: 100%;
}
td.product-thumbnail-checkout {
    width: 20%;
    height: 20%;
    padding-right: 1rem !important;
}
.white-spacing{
    background: white;
    padding: 10px;
    border: 1px solid #e0dfdf;
}
@media only screen and (max-width: 1024px) and (min-width: 350px) {

    .heading-cross-sells{
        text-align: center;
        width: auto;
        margin: 6%;
        letter-spacing: 1px;
    }
    
    .for_cross-sells-ul> ul{
        margin: 0 !important;
        display: flex !important;
    }

    .for_cross-sells-ul> ul> li{
        width: 50% !important;
    }
}
@media only screen and (max-width: 768px) and (min-width: 350px) {
    td.product-thumbnail-checkout {
        width: 20%;
        height: 20%;
    }
    .white-spacing{
        background: white;
        padding: 5px;
        border: 1px solid #e0dfdf;
    }
    .mobileCartImage {
        display: block;
        margin-right: auto;
    }
    td.product-name.product-custom-img{
        display: inline-flex !important;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
}
.far.fa-info-circle{
    color: black;
    font-size: 14px;
}
.for-gift-card-desktop .gift-info-wrapper{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    @include breakpoint(to-desktop-mid) {
        display: flex;
    }
    
    @include breakpoint(to-desktop-sml) {
        display: flex;
    }
    
    @include breakpoint(to-tablet) {
        display: flex;
    }
    
    @include breakpoint(to-phablet) {
        display: flex;
        justify-content: space-between;
    }
    
    @include breakpoint(to-mobile) {
        display: flex;
        justify-content: space-between;
    }

}
.for-gift-card .gift-info-wrapper{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    @include breakpoint(to-desktop-mid) {
        display: flex;
    }
    
    @include breakpoint(to-desktop-sml) {
        display: flex;
    }
    
    @include breakpoint(to-tablet) {
        display: flex;
    }
    
    @include breakpoint(to-phablet) {
        display: flex;
        justify-content: space-between;
    }
    
    @include breakpoint(to-mobile) {
        display: flex;
        justify-content: space-between;
    }

}

.woocommerce-mini-cart.cart_list.product_list_widget li.woocommerce-mini-cart-item.mini_cart_item .product-details dl.variation{
    display: none;
}
td.product-name.product-custom-img .for-gift-card-desktop{
    display: block;

    @include breakpoint(to-desktop-mid) {
        display: block;
    }
    
    @include breakpoint(to-desktop-sml) {
        display: none;
    }
    
    @include breakpoint(to-tablet) {
        display: block;
    }
    
    @include breakpoint(to-phablet) {
        display: none;
        justify-content: space-between;
    }
    
    @include breakpoint(to-mobile) {
        display: none;
        justify-content: space-between;
    }
}

td.product-name.product-custom-img .for-gift-card-desktop dl.variation dd{
    margin-left: 5px;
}

td.product-name.product-custom-img .for-gift-card-desktop dl.variation dd p{
    margin: 0;
}

td.product-name.product-custom-img .for-gift-card-desktop dl.variation dd.variation-Message p{
    max-height: 80px;
    height: auto;
    overflow-y: scroll;
    word-break: break-all;
}

td.product-name.product-custom-img .for-gift-card-desktop dl.variation dd.variation-Message p::-webkit-scrollbar {
    width: 5px;
  }
  
td.product-name.product-custom-img .for-gift-card-desktop dl.variation dd.variation-Message p::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
td.product-name.product-custom-img .for-gift-card-desktop dl.variation dd.variation-Message p::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
td.product-name.product-custom-img .for-gift-card-desktop dl.variation dd.variation-Message p::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


td.product-name.product-custom-img .for-gift-card-desktop dl.variation dt{
    font-weight: bold;
}

td.for-gift-card{
    display: none;

    @include breakpoint(to-desktop-mid) {
        display: none;
    }
    
    @include breakpoint(to-desktop-sml) {
        display: none;
    }
    
    @include breakpoint(to-tablet) {
        display: none;
    }
    
    @include breakpoint(to-phablet) {
        display: table-cell;
        justify-content: space-between;
    }
    
    @include breakpoint(to-mobile) {
        display: table-cell;
        justify-content: space-between;
    }

}

td.for-gift-card dl.variation dd{
    margin-left: 5px;
}

td.for-gift-card dl.variation dd p{
    margin: 0;
}

td.for-gift-card dl.variation dd.variation-Message p{
    max-height: 80px;
    height: auto;
    overflow-y: scroll;
    word-break: break-all;
    text-align: left;
}

td.for-gift-card dl.variation dd.variation-Message p::-webkit-scrollbar {
    width: 5px;
}

td.for-gift-card dl.variation dd.variation-Message p::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

td.for-gift-card dl.variation dd.variation-Message p::-webkit-scrollbar-thumb {
    background: #888; 
}

td.for-gift-card dl.variation dd.variation-Message p::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

td.for-gift-card dl.variation dt{
    font-weight: bold;
}

td.for-gift-card::before {
    content: '' !important;
}
