.accent-image {
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);

    .container {
        @include breakpoint(from-desktop) {
            display: flex;
            align-items: center;
        }
    }

    &.align-right {
        .accent {
            order: 1;
            padding-right: 0;
        }

        .content {
            padding-left: 0;
        }
    }

    &.align-left {
        .accent {
            padding-left: 0;
        }

        .content {
            padding-right: 0;
        }
    }

    .accent {
        text-align: center;
        margin-bottom: 2rem;
    }

    .content,
    .accent {
        flex: 1;

        @include breakpoint(from-desktop) {
            padding: 0 2rem;
        }
    }

    .desc {
        h1 {
            @include scaleAttr(font-size, 2.25rem, 0.125rem);
        }

        h2 {
            @include scaleAttr(font-size, 1.75rem, 0.125rem);
        }

        h3 {
            @include scaleAttr(font-size, 1.5rem, 0.125rem);
        }

        h4 {
            @include scaleAttr(font-size, 1.25rem, 0.125rem);
        }

        h5 {
            @include scaleAttr(font-size, 1rem, 0.125rem);
        }

        h6 {
            font-size: 1.125rem;
        }
    }
}
