.columns {
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);

    .inner {
        @include breakpoint(from-desktop) {
            display: flex;
            margin: 0 -2rem;
        }
    }

    .col {
        @include breakpoint(from-desktop) {
            flex: 1;
            padding: 0 2rem;
        }
    }
}
