.content-grid {
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);

    .items {
        text-align: center;
        display: flex;
        flex-wrap: wrap;

        @include breakpoint(from-desktop) {
            @for $i from 2 through 8 {
                &.x#{$i} {
                    .item {
                        width: 100% / $i;
                    }
                }
            }
        }
    }

    .item {
        padding: 0 1.25rem;
        width: 100%;

        @include breakpoint(from-phablet) {
            width: 50%;
        }
    }

    .thumbnail {
        display: block;
        margin: 0 auto 1.25rem auto;
    }

    .label {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.125rem;
    }
}
