.content-with-sidebar {
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);

    .container {
        display: flex;
    }

    &.side-left {
        .sidebar {
            order: -1;
            padding-left: 0;
        }

        .content {
            padding-right: 0;
        }
    }

    &.side-right {
        .sidebar {
            padding-right: 0;
        }

        .content {
            padding-left: 0;
        }
    }

    &.side-hidden {
        .sidebar {
            display: none;
        }

        .content {
            padding: 0;
        }
    }

    .content,
    .sidebar {
        padding: 0 2rem;
    }

    .content {
        flex: 9;
    }

    .sidebar {
        flex: 3;
    }
}
