.for-country-header {
    display: flex;
    padding: 10px;
    width: 100%;
    background: rgb(68, 68, 68);
    justify-content: center;
    align-items: center;
    color: white;
}

.country-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.country-continue-button {
    color: white;
    background: rgb(105, 105, 184);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
}

.country-cancel-button {
    color: white;
    font-size: xx-large;
    cursor: pointer;
    padding-left: 10px;
}

.country-head-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.country-content-wrapper{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1280px) {
    .country-content-wrapper{
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1024px) {
    .country-content-wrapper{

        display: flex;
        width: 60%;
        justify-content: space-between;
    }

}

@media only screen and (max-width: 780px) {
    .country-content-wrapper {
        display: flex;
        width: 70%;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 520px) {
    .country-content-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

.country-selector-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 0.6rem;
}

.country-selector-button {
    font-size: 16px;
    cursor: pointer;
    width: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.country-selector-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 60px;
    box-shadow: 0px 1px 2px 0px #d6d5d5;
    z-index: 1;
    margin-top: 2px;
}

.country-selector-content-mobile{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 1px 2px 0px #d6d5d5;
    z-index: 1;
    width: 100%;
}

.country-flag {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
  
.country-selector-content a {
    text-decoration: none;
    width: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: medium;
  }
  
.country-selector-content a:hover {
    background-color: #ddd;
    color: unset !important;
}

.show-country-selector {
    display: block;
}

.country-selector-wrapper-mobile {
    margin-bottom: 1.5rem;
}

.country-selector-mobile-outer {
    padding:0 1.5rem;
    border-bottom: 2px solid #e0e0e0;
}