.faq {
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);

    .faq-group {
        max-width: 1024px;
        margin: 0 auto;

        &:not(:first-child) {
            padding-top: 1rem;
        }
    }

    .faq-title {
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    .faq-item {
        padding: 1.25rem 0;

        &:not(:first-child) {
            border-top: 2px solid #e4e4e4;
        }

        &.active {
            .faq-content {
                display: block;
            }
        }
    }

    .faq-handle {
        font-weight: 700;
        font-size: 1.25rem;
        margin: 0;
        cursor: pointer;
    }

    .faq-content {
        display: none;
        font-size: 1.125rem;
    }
}
