ul.squared .variable-item.button-variable-item{
    width: 155px !important;
    height: auto !important;

    @include breakpoint(to-desktop-mid) {
        width: 155px !important;
        height: auto !important;
    }
    
    @include breakpoint(to-desktop-sml) {
        width: 155px !important;
        height: auto !important;
    }
    
    @include breakpoint(to-tablet) {
        width: 155px !important;
        height: auto !important;
    }
    
    @include breakpoint(to-phablet) {
        width: 155px !important;
        height: auto !important;
    }
    
    @include breakpoint(to-mobile) {
        width: 155px !important;
        height: auto !important;
    }
}


ul.squared .variable-item.button-variable-item:hover{

appearance: none;
-webkit-tap-highlight-color: transparent;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;


@include breakpoint(to-desktop-mid) {
    
    appearance: none;
-webkit-tap-highlight-color: transparent;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

@include breakpoint(to-desktop-sml) {
    
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

@include breakpoint(to-tablet) {
    
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

@include breakpoint(to-phablet) {
    
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    //add here
}

@include breakpoint(to-mobile) {
    
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    //add here
}


}


.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item):hover{

    box-shadow: 0 0 0 3px #919191 !important;

    @include breakpoint(to-desktop-mid) {
    box-shadow: 0 0 0 3px #919191 !important;
    }
    
    @include breakpoint(to-desktop-sml) {
    box-shadow: 0 0 0 3px #919191 !important;
    }
    
    @include breakpoint(to-tablet) {
    box-shadow: 0 0 0 3px #919191 !important;
    }
    
    @include breakpoint(to-phablet) {
    box-shadow: 0 0 0 3px #00000000  !important;
    }
    
    @include breakpoint(to-mobile) {
    box-shadow: 0 0 0 3px #00000000  !important;
    }


} .woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover{
    box-shadow: 0 0 0 3px #919191 !important;

    @include breakpoint(to-desktop-mid) {
    box-shadow: 0 0 0 3px #919191 !important;
    }
    
    @include breakpoint(to-desktop-sml) {
    box-shadow: 0 0 0 3px #919191 !important;
    }
    
    @include breakpoint(to-tablet) {
    box-shadow: 0 0 0 3px #919191 !important;
    }
    
    @include breakpoint(to-phablet) {
    box-shadow: 0 0 0 2px #1c953f !important;
    }
    
    @include breakpoint(to-mobile) {
    box-shadow: 0 0 0 2px #1c953f !important;
    }

}

ul.squared .variable-item.button-variable-item .fortooltip{
display: block;

@include breakpoint(to-desktop-mid) {
    display: block;
}

@include breakpoint(to-desktop-sml) {
    display: block;
}

@include breakpoint(to-tablet) {
    display: block;
}

@include breakpoint(to-phablet) {
    display: block;
}

@include breakpoint(to-mobile) {
    display: block;
}
}


.variable-items-wrapper.squared [data-wvstooltip]:hover:before {
    bottom: 120%;
    visibility: hidden;
    opacity: 0;

    @include breakpoint(to-desktop-mid) {
        bottom: 120%;
        visibility: hidden;
        opacity: 0;
    }
    
    @include breakpoint(to-desktop-sml) {
        bottom: 120%;
        visibility: hidden;
        opacity: 0;
    }
    
    @include breakpoint(to-tablet) {
        bottom: 120%;
        visibility: hidden;
        opacity: 0;
    }
    
    @include breakpoint(to-phablet) {
        bottom: 120%;
        visibility: hidden;
        opacity: 0;
    }
    
    @include breakpoint(to-mobile) {
        bottom: 120%;
        visibility: hidden;
        opacity: 0;
    }
}


.variable-items-wrapper.squared [data-wvstooltip]:hover:after {
    bottom: 120%;
    visibility: hidden;
    opacity: 0;

    @include breakpoint(to-desktop-mid) {
        bottom: 120%;
        visibility: hidden;
        opacity: 0;
    }
    
    @include breakpoint(to-desktop-sml) {
        bottom: 120%;
        visibility: hidden;
        opacity: 0;
    }
    
    @include breakpoint(to-tablet) {
        bottom: 120%;
        visibility: hidden;
        opacity: 0;
    }
    
    @include breakpoint(to-phablet) {
        bottom: 120%;
        visibility: hidden;
        opacity: 0;
    }
    
    @include breakpoint(to-mobile) {
        bottom: 120%;
        visibility: hidden;
        opacity: 0;
    }
}