.angelleye_smart_button_top, .angelleye_smart_button_bottom {
    max-width: 100%;
}
.angelleye-proceed-to-checkout-button-separator {
    margin: 0.5em 0 0.5em;
}
.angelleye_smart_button_mini{
    margin-top: 0.75rem;
}