.product-grid {
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);

    ul.products.columns-3 {
        li.product {
            width: 100%;

            @include breakpoint(from-smartphone) {
                width: 50%;
            }

            @include breakpoint(from-tablet) {
                width: 33.3333%;
            }
        }
    }
}
