.promo {
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);
    text-align: center;

    .mobile-image {
        display: block;

        @include breakpoint(from-phablet) {
            display: none;
        }
    }

    .desktop-image {
        display: none;

        @include breakpoint(from-phablet) {
            display: block;
        }
    }
}
