.giftcard_label{
    display: inline-flex;
    align-items: center;
}
.gift-card-icon{
    margin-left: 5px;
}

.gift-card-icon:hover{
    font-size: 18px;
    background: -moz-linear-gradient(top, #06ff1a 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #06ff1a 0%, #000000 100%);
    background: linear-gradient(to bottom, #06ff1a 0%, #000000 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.gift-card-input{
    filter: hue-rotate(272deg);
}