.promo-layered {
    @include scaleAttrs([padding-top, padding-bottom], 2rem, 0.4rem);
    font-family: $font-family-special;
    text-transform: uppercase;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 41rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(to-desktop-mid) {
        min-height: 35rem;
    }

    @include breakpoint(to-desktop-sml) {
        min-height: 28rem;
    }

    @include breakpoint(to-tablet) {
        min-height: 21rem;
    }

    @include breakpoint(to-phablet) {
        min-height: 16rem;
    }

    @include breakpoint(to-mobile) {
        min-height: 14rem;
    }

    &.vert-top {
        align-items: flex-start;
    }

    &.vert-bottom {
        align-items: flex-end;
    }

    &.text-left {
        text-align: left;
    }

    &.text-right {
        text-align: right;
    }

    &.split-text {
        img {
            @include breakpoint(from-tablet) {
                display: none;
            }
        }

        @include breakpoint(to-phablet) {
            background-image: none !important;
            min-height: 0;
        }

        .btns {
            @include breakpoint(to-phablet) {
                margin-top: -1.5rem;
            }
        }
    }

    .container {
        overflow: hidden;
    }

    .text-2xl {
        @include scaleAttr(font-size, 6.88rem, 0.5rem);
    }

    .text-xl {
        @include scaleAttr(font-size, 5.75rem, 0.5rem);
    }

    .text-large {
        @include scaleAttr(font-size, 4.75rem, 0.5rem);
    }

    .text-medium {
        @include scaleAttr(font-size, 3.75rem, 0.5rem);
    }

    .text-normal {
        @include scaleAttr(font-size, 3rem, 0.5rem);
    }

    .text-small {
        @include scaleAttr(font-size, 2.13rem, 0.25rem);
    }

    .text-xsmall {
        @include scaleAttr(font-size, 1.63rem, 0.25rem);
    }

    .text-tiny {
        font-size: 0.85rem;
    }

    .weight-bold {
        font-weight: 700;
    }

    .text-red {
        color: #ba0004;
    }

    .text-white {
        color: white;
    }

    .text-black {
        color: black;
    }

    .text-gradient {
        background-color: black;
        background-image: linear-gradient(90deg, rgba(196,244,222,1) 0%, rgba(244,193,226,1) 9%, rgba(214,198,247,1) 18%, rgba(176,206,242,1) 27%, rgba(196,244,222,1) 36%, rgba(244,193,226,1) 45%, rgba(214,198,247,1) 54%, rgba(176,206,242,1) 63%, rgba(196,244,222,1) 72%, rgba(244,193,226,1) 81%, rgba(214,198,247,1) 90%, rgba(176,206,242,1) 100%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        background-clip: text;
    }

    p[class*="text-"] {
        margin: 0;
        line-height: 1em;
    }

    .btn {
        border-radius: 0;
        border: 3px solid #ba0004;
        font-family: $font-family-special;
        color: #ba0004;
        font-weight: 700;
        padding: 0.5rem 2rem;
        background: white;
        font-size: 1rem;

        @include breakpoint(from-phablet) {
            font-size: 1.5rem;
        }

        &:hover {
            background: #ba0004;
            color: white;
        }
    }

    .inner,
    .mobile-link {
        display: block;
    }
}
