.product_banner_desk{
       img{
         display: block;
         margin-left: auto;
         margin-right: auto;
         max-width: 100%;
         height: auto;
       }
     }
     .product_banner_mob{
       display: none;
     }

     @media all and (min--moz-device-pixel-ratio:0) and (max-width: 600px){
       .product_banner_desk{
         display: none;
       }
       .product_banner_mob{
         display: block;
         img{
           display: block;
           margin-left: auto;
           margin-right: auto;
           max-width: 100%;
           height: auto;
         }
       }

     }

      @media only screen and (max-width: 600px) {
       .product_banner_desk{
         display: none;
       }
       .product_banner_mob{
         display: block;
         img{
           display: block;
           margin-left: auto;
           margin-right: auto;
           max-width: 100%;
           height: auto;
         }
       }
      }