.banner-default {
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);
    background-size: cover;
    text-align: center;
    position: relative;

    h1 {
        text-transform: uppercase;
        font-weight: 400;
        font-family: $font-family-secondary;
        font-size: 1.75rem;
        line-height: 1.6em;

        strong {
            display: block;
        }
    }
}
