// Variables
// --------------------------

$fa-font-path:         "fonts" !default;
$fa-font-size-base:    16px !default;
$fa-font-display:      block !default;
$fa-css-prefix:        fa !default;
$fa-version:           "5.14.0" !default;
$fa-border-color:      #eee !default;
$fa-inverse:           #fff !default;
$fa-li-width:          2em !default;
$fa-fw-width:          (20em / 16);
$fa-primary-opacity:   1 !default;
$fa-secondary-opacity: .4 !default;

// Convenience function used to set content property
@function fa-content($fa-var) {
  @return unquote("\"#{ $fa-var }\"");
}


$fa-var-angle-down: \f107;
$fa-var-arrow-left: \f060;
$fa-var-arrow-right: \f061;
$fa-var-bars: \f0c9;
$fa-var-caret-right: \f0da;
$fa-var-cube: \f1b2;
$fa-var-cubes: \f1b3;
$fa-var-facebook-f: \f39e;
$fa-var-flag: \f024;
$fa-var-gift: \f06b;
$fa-var-globe: \f0ac;
$fa-var-info-circle: \f05a;
$fa-var-instagram: \f16d;
$fa-var-search: \f002;
$fa-var-shopping-basket: \f291;
$fa-var-spinner: \f110;
$fa-var-times: \f00d;
$fa-var-twitter: \f099;