// Font Sizes
$font-size-base: 16px;

// Font Families
$font-family-primary: 'Lato', sans-serif;
$font-family-secondary: 'Michroma', sans-serif;
$font-family-heading: $font-family-secondary;
$font-family-special: 'Microgramma', sans-serif;
$font-family-icons: "Font Awesome 5 Pro";
